*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(245, 163, 109);
    color: azure;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-menu{
    background-color: white;
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    width: 50%;
    padding:0;

   
}
nav a img{
    height: 6rem;
    
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 60%;
    height: 100%;
    margin: auto 0;
    column-gap: 3rem;
}

.nav-list .btn{
    text-decoration: none;
    color:  rgb(245, 163, 109);
    font-weight: bolder;
    font-size: 2rem;
    width: max-content;
}
.nav-menu h2{
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(245, 163, 109) ;
}

.nav-list .btn:hover{
    color: rgb(245, 163, 109) ;
    border-bottom: 2px solid  rgb(245, 163, 109) ;
    padding-bottom: 1rem;
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}

/* MAIN IDEX */
section{
    margin-bottom: 3rem;
}
.carousel-item h5{
    font-size: 3rem;
    font-weight: 700;
}
.carousel-item a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color:rgb(17, 16, 48);
    opacity: 0.9;
    padding: .3rem 0.7rem;
    border: 2px solid  rgb(245, 163, 109) ;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.ubication-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-left: 3rem;
    font-weight: 700;
    text-align: center;
}

/* FOOTER */

footer{
    background: white;
    color: rgb(245, 163, 109) ;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;

   
}

footer h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.rrss{
    margin: 1rem;

}
.rrss-items {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    padding: 20px 20px;
    
}
.currentColor {
    color: rgb(245, 163, 109);
}
.footer-info h4{
    font-size: 2.2rem;
    font-weight: 700;


}

footer a:hover{
    transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
}
/* CONTACT PAGE */

.contactPage{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;

}

.contactPage h2{
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    width: 90%;
    border-bottom: 2px solid white;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formContact{
    padding: 3rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(17, 16, 48) ;
    height: min-content ;
    width: 60rem;
    border-radius: 2rem;
    text-align: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.formContact input{
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 75%;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-bottom: 1px solid white;
}

.formContact label{
    padding: 1rem;
    font-weight: 700;
}

.ubicationMap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.ubicationMap h3{
    width: 60rem ;
    font-size: 3rem;
    text-align: center;
    background-color:rgb(17, 16, 48) ;
}

.ubicationMap p{
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}
 .btnSubmit:hover{
    background: white;
    color: rgb(17, 16, 48) ;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* SOBRE MI PAGE */

.sobremi h1{
    margin: 2rem auto;
    color: white;
    width: 75%;
    text-align: center;
    font-size: 5rem;
    border-bottom: 2px solid white;
}

h3{
    padding: .5rem;
    margin: 3rem 0;
    font-weight: 700;
    background-color:rgb(17, 16, 48)  ;
    color: white ;
    text-align: center;
    font-size: 3rem;
}

.flexContent{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.flexContent p {
    width: 50%;
    height: max-content;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: auto;
}
.flexContent img{
    margin: auto;
    width: 50rem;
    height: 50rem;
    object-fit: cover;
}

/* SERVICIOS PAGE */

.servicios{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    grid-template-areas: 
    "presencial presencial online online"
    "antropometria antropometria antropometria antropometria"
    "taller taller planes planes";
    text-align: center;
   
    text-decoration: none;
}

.servicios a {
    text-decoration: none;
    font-size: 4rem;
    color: rgb(245, 163, 109);
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
}

.servicios h4{
    font-size: 2rem;
    font-weight: 700;
}

.presencial{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: presencial;
    background-image: url(../images/presencial.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 95%;
    height: 20rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    transition: 1s;
}

.online{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: online;
    background-image: url(../images/online.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

  
}

.antropometria{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: antropometria;
     background-image: url(../images/antropometria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


.talleres{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: taller;
    background-image: url(../images/taller.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 3rem;
     -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
     box-shadow: 0.5rem 0.5rem 1rem black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.planes{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: planes;
    background-image: url(../images/planes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.presencial:hover{
   opacity: 0.9;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}

.antropometria:hover{
    opacity: 0.9;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}

.talleres:hover{
    opacity: 0.9;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}

.planes:hover{
    opacity: 0.9;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}

.online:hover{
    opacity: 0.9;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}