section{
    margin-bottom: 3rem;
    .carousel-item {
        h5{
        font-size: 3rem;
        font-weight: 700;
        }
        a{
            text-decoration: none;
            color: white;
            font-weight: 400;
            background-color:rgb(17, 16, 48);
            opacity: 0.9;
            padding: .3rem 0.7rem;
            border: 2px solid  rgb(245, 163, 109) ;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
        }
    }
    h3{
        padding: .5rem;
        margin: 3rem 0;
        font-weight: 700;
        background-color:rgb(17, 16, 48)  ;
        color: white ;
        text-align: center;
        font-size: 3rem;
    }
    .ubication-index{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        margin-left: 3rem;
        font-weight: 700;
        text-align: center;
    }

}